.jumbotron {
    background: rgb(191,44,69);
    background: linear-gradient(0deg, rgba(191,44,69,1) 0%, rgba(255,59,93,1) 88%);
    color: #fefefe;
}

h1, h2 {
    font-family: 'Prata', serif;
}

.card-header {
    background: rgb(133,30,48);
    background: linear-gradient(180deg, rgba(133,30,48,1) 0%, rgba(64,15,23,1) 88%);
    color:#fefefe;
}
h3 {
    text-transform: uppercase;
    font-size: medium;
    color: #e59797;
}
.card {
    border:none;
    padding:0 5px;
}
.card-body {
    background-color: #ffe6e6;
    
}
a {
    color:#BF2C45;
}
.list-group li {
    border-color: #ffe6e6;
}